.footer {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.footer_title {
  position: absolute;
  color: #fff;
  width: 201px;
  height: 44px;
  top: 1755px;
  left: 620px;
  font-family: ArchivoBlack-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  padding-bottom: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.email {
  color: #6d6dff;
  width: 194px;
  height: 25px;
  top: 1885px;
  left: 624px;
  font-family: OpenSans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  padding-bottom: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  position: absolute;
}

.facebook_icon {
  padding-bottom: 100px;
  padding-top: 80px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 656px;
  top: 1874px;
}

.X_icon {
  padding-bottom: 100px;
  padding-top: 80px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 864px;
  top: 1874px;
}

.instagram_icon {
  padding-bottom: 100px;
  padding-top: 80px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 760px;
  top: 1874px;
}

.linkedin_icon {
  padding-bottom: 100px;
  padding-top: 80px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 552px;
  top: 1874px;
}
