.header {
  height: 100vh;
  display: flex;
  padding: 20px;
  max-width: 1023px;
  max-height: 600px;
  position: relative;
}

.Name {
  position: absolute;
  color: #fff;
  font-family: ArchivoBlack-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 72px;
  padding-bottom: 0;
  line-height: 100%;
  letter-spacing: 0%;
  height: 156px;
  range: 0 deg;
  opacity: 1;
  top: 89px;
  left: 120px;
  width: 793px;
  height: 156px;
}

p {
  color: #fff;
  font-family: OpenSans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  padding-top: 15px;
  line-height: 100%;
  letter-spacing: 0%;
}

.specialty {
  position: absolute;
  height: 25px;
  range: 0 deg;
  opacity: 1;
  top: 260px;
  left: 120px;
  width: 790px;
  height: 25px;
}

.description {
  position: absolute;
  height: 150px;
  range: 0 deg;
  opacity: 1;
  width: 793px;
  height: 150px;
  line-height: 25px;
}

.specialty_text {
  opacity: 0.5;
}

.contact {
  position: relative;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: OpenSans;
  top: 495px;
  left: 60px;
  padding-top: 30px;
}

.contact_list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.contact-link {
  color: #fff;
  text-decoration: none;
}

.contact-link:hover {
  opacity: 0.5;
}

.CV_link {
  width: 115px;
  height: 25px;
}

.linkedin_link {
  width: 115px;
  height: 25px;
}

.Github_link {
  width: 138px;
  height: 25px;
}
